.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#mapContainer {
  padding: 30px;
}

#mapClipPath {
  height: 650px;
  width: 86%;
  background-color: white;
  position: relative;
  top: 140px;
  left: 250px;
}

.mapHeader{
  font-size:17px;
}

.mapHeader .header{
  position:absolute;
  left: 15%;
  top: 15px;
  font-style: italic;
}

.mapHeader img{
  position: absolute;
  height: 45px;
  width: 45px;
  left: 15%;
  top: 50px;
  object-fit: cover;
  border-radius: 100px;
}

.mapHeader .mapPost textarea{
  position: absolute;
  height: 70px;
  width: 75%;
  left: 18%;
  top: 60px;
  background: white;
  font-size: 16px;

  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}

.mapHeader ul {
  position: absolute;
  left: 340px;
  top: 130px;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.mapHeader ul li:hover{
  color: rgb(83, 143, 5);
} 

.mapHeader ul li {
  float: left; 
  display: block;
  color: rgb(110, 192, 2);
  text-align: center;
  padding: 5px;
  text-decoration: none;
} 

.mapHeader .postBtn:hover{
  background: rgb(102, 179, 2);

}

.mapHeader .postBtn{
  position: absolute;
  text-align:center;
  left: 95%;
  top: 120px;
  border-radius: 50px;
  opacity: 1;
  font-size: 15px;
  width: 70px;
  height: 35px;
  background: rgb(110, 192, 2);
  line-height: 3px;
}

.mapHeader .line{
  position:relative;
  width: 1000px;
}