
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#mapContainer {
  padding: 30px;
}

#mapClipPath {
  height: 650px;
  width: 86%;
  background-color: white;
  position: relative;
  top: 140px;
  left: 250px;
}

.homePage {
  position:absolute;
  left: 50%;
}

.pages {
  position:absolute;
  left: 25%;
  white-space: nowrap;
}

.pageHeader{
  font-size:17px;
  white-space: nowrap;
  
}

.pageHeader .header{
  position:absolute;
  left: 290px;
  top: 15px;
  font-style: italic;
}

.pageHeader img{
  position: absolute;
  height: 45px;
  width: 45px;
  left: 290px;
  top: 50px;
  object-fit: cover;
  border-radius: 100px;
}

.pageHeader .post textarea{
  position: absolute;
  height: 70px;
  width: 75%;
  left: 350px;
  top: 60px;
  background: white;
  font-size: 16px;

  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}

.pageHeader ul {
  position: absolute;
  left: 340px;
  top: 130px;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.pageHeader ul li:hover{
  color: rgb(83, 143, 5);
} 

.pageHeader ul li {
  float: left; 
  display: block;
  color: rgb(110, 192, 2);
  text-align: center;
  padding: 5px;
  text-decoration: none;
} 

.pageHeader .postBtn:hover{
  background: rgb(102, 179, 2);

}

.pageHeader .postBtn{
  position: absolute;
  text-align:center;
  left: 95%;
  top: 120px;
  border-radius: 50px;
  opacity: 1;
  font-size: 15px;
  width: 4%;
  height: 4%;
  background: rgb(110, 192, 2);
  line-height: 3px;
}


/*---Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}






/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/